<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_ChekavyiI" translate="label" sortOrder="10">
            <label> Amasty Chekavyi I module</label>
        </tab>
        <section id="test_config" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
            <label>ChekavyiI Module Config</label>
            <tab>Amasty_ChekavyiI</tab>
            <resource>Amasty_ChekavyiI::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="welcometext" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome Text </label>
                    <validate>required-empty</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="qtyenabled" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Qty Field Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
