.chekavyiiid-index-index {
    border: solid 10px red;
}

.input-form-phtml {
    margin: 25px;
}

.test-autocomplete-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: space-between;
    border-color: black;
    border-width: 1px;
}

.test-autocomplete-list {
    display: flex;
    flex-direction: column;
}

.stopwatch-row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    width: 30vw;
    padding: 5px;
}

.stopwatch-display-part {
    border: #0A246A 2px solid;
    font-size: 40pt;
    border-collapse: collapse;
    width: 10vw;
    text-align: center;
}