<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <test2_config>
            <general2>
                <enabled>1</enabled>
            </general2>
        </test2_config>
    </default>
</config>
